.block{
    margin: 1rem auto;
    padding: 1rem;
    /*background-color: #EEEEEE;*/
    background-color: #1D1E1F;
    color: #eee;
    /*color: #000;*/
    border-radius: 15px;
    /*padding: 20px;
    margin: 10px auto;*/
    font-size: 130%;
    width: 45%;
    box-shadow: 0 0 20px #000;
}

h4 {
    color: #B4025B;
    margin-top: 20px;
    margin-bottom: 5px;
}