.hr {
    border: 3px solid rgb(180, 2, 91);
}

.navbar {
    list-style-type: none;
    padding: 0;
}

.left {
    margin-left: 2vw;
}

.item a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    margin: 15px 28px;
    float: left;
}

.item a.active {
    color: #B4025B;
}

.rand {
    margin-right: 1.5vw;
    float: right;
}

@media (max-width: 1600px) {
    .item a {
        font-size: 20px;
        margin: 15px 15px;
    }
}

@media (max-width: 1000px) {
    .item a {
        font-size: 20px;
        margin: 15px 5px;
    }
}

