.hr{
    border: 1px solid rgb(180,2,91);
    width: 70%;
}

.navbar{
    list-style-type: none;
    margin: 0 20.5%;
    padding: 0;
}

.item a{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin: 5px 20px;
    float: left;

}

.item a.active{
    color: #B4025B;
}


