.block {
    margin: 5vw auto;
    background-color: #1D1E1F;
    color: #eee;
    border-radius: 15px;
    font-size: 2em;
    width: 50vw;
    box-shadow: 0 0 20px #000;
    overflow: hidden;
}

.btn h4 {
    color: #B4025B;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

.btn {
    user-select: none;
    user-focus: none;
    outline: none;
    padding: 1rem;
    margin: 0 0 0 10px;
    width: 100%;
    background-color: #1d1e1f;
    border: none;
    color: #eee;
    border-radius: 15px;
    font-size: 0.5em;
    overflow: hidden;
}

.block p {
    text-align: justify;
    padding-right: 15px;
    /*white-space: pre-wrap;*/
}

.tag {
    color: #B4025B;
    display: inline-block;
    padding: 0 10px;
}

.white {
    color: white;
}