.logo{
    width: 120px;
    margin: 0 0 0 15%;
}

header{
    height: 22%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1D1E1F;
    /*margin-top: 65px;*/
    padding-top: 65px;
}

.profile_logo{
    width: 50px;
    float: right;
    margin: 0 15% 0 0;
}