header {
    height: fit-content;
    position: fixed;
    top: 0;
    margin: 0 20.9vw;
    width: 57.2vw;
    background-color: #1D1E1F;
    /*background-color: fuchsia;*/
    padding-top: 4vh;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
}

.logo {
    padding-left: 5px;
    width: 6.9vw;
    padding-bottom: 2.2vh;
}

.profile_logo, .add_logo, .like_button{
    width: 56px;
}

.profile_logo {
    margin: 37% 7% 0;
}

.add_logo {
    margin: 50% 21% 0;
    width: 36px;
}

.like_button {
    margin: 50% 50% 0;
    width: 16px;
}

.search_icon {

    width: 25px;
}

.search_wrapper {
    margin-left: 17%;
    align-self: center;

}

.search {
    width: 80%;
    max-width: 80%;
    height: 20pt;
    padding: 10px;
    background-color: #1D1E1F;
    font-size: 20pt !important;
    border: none;
    margin: 5px 10px;
}

.search_div {
    display: block;
    height: fit-content;
    width: 80%;
    background-color: #1D1E1F;
    box-shadow: 0 0 15px black;
    padding: 0 20px;
    margin: 0 auto;
    border-radius: 15px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.modal_text {
    margin: 20% auto;
    height: 50%;
    background-color: #1D1E1F;
    color: #eee;
    border-radius: 15px;
    font-size: 130%;
    width: 44.5%;
    box-shadow: 0 0 20px #000;
    overflow: hidden;
}


.login {
}

.head {
    text-align: left;
    margin: 6% 0 0 10%;
    color: #B4025B;
    font-size: 30px;
    font-weight: bold;
}

.main_form {
    margin: 5% auto;
}

.in {
    background-color: #1D1E1F;
    border-radius: 10px;
    border: 0px solid;
    box-shadow: 0 0 10px #000;
    margin: 7px 0;
    padding: 10px 5px 10px 25px;
    width: 80%;
}

input[type=text], input[type=password] {
    color: #eee;
    font-size: 16px;
}

input[type=text]::placeholder, input[type=password]::placeholder {
    color: #3D3D3D;
}

input[type=submit] {
    letter-spacing: 2px;
    margin-top: 7vh;
    width: 84.5%;
    /*background-color: #B4025B;*/
    background-color: #C20262;
    color: #CCC;
    padding: 1.5vh;
    border-radius: 10px;
    border: 0 solid;
    box-shadow: 0 0 20px #000;
    font-size: 17px;
}

