/*
.app-wrapper{
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr 2fr;
    grid-gap: 10px;
    grid-template-areas:
            "h h h"
            "b c b";
}
.app-wrapper-content{
    grid-area: c;
    background-color: cornflowerblue;
    grid-column: 2 / 3;
    padding: 20px; !* отступы *!
    !*    darkseagreen*!
}

.app-wrapper-background{
    grid-area: b;
    background-color: azure;
}

.app-wrapper-header{
    grid-area: h;
    background-color: #61dafb;
}*/

/*.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}*/

/*.bg {
    !* The image used *!
    background-image: url("https://i.pinimg.com/originals/3b/8a/d2/3b8ad2c7b1be2caf24321c852103598a.jpg");

    !* Set a specific height *!
    height: 500px;

    !* Create the parallax scrolling effect *!
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.content {
    display: grid;
}

.main {
    margin-top: 38vh;
}

.modal_text{
    color: whitesmoke;
}

#modal-root {
    position: relative;
    /*z-index: 10000;*/
}

.fullBtn{
}

.fullBtn:hover{
    background-color: black;
}

.modal {
    backdrop-filter: blur(10px);
    z-index: 30;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_text{
    margin: 14vh auto 0;
    height: 70%;
    background-color: #1D1E1F;
    color: #eee;
    border-radius: 15px;
    font-size: 130%;
    width: 60%;
    box-shadow: 0 0 20px #000;
    overflow: hidden;
}

.modal_text h4{
    padding-top: 20px;
    color: #B4025B;
    margin: 20px 0 5px 70px;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    /*float: left;*/
}

.modal_text p {
    /*float: left;*/
    text-align: left;
    font-size: 150%;
    font-family: "Avenir Next", sans-serif;
    text-indent: 0;
    padding-left: 70px;
    padding-right: 20px;
}
